.subject{
    padding: 10px 10px;
    border-radius: 50%;
    background-color: #f39d1280;
    border: solid 3px #f39c12;
    width: fit-content;
}
.subject-label{
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
    color: grey;
}
.test-attempted{
    padding: 10px;
    border-radius: 50%;
    color: #339af0;
}

.timeline-item{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    margin: 10px 0px;
    display: flex;
}

.sub-heading{
    font-size: 12px;
    color: grey;
}