.subject{
    padding: 10px 10px;
    border-radius: 50%;
    background-color: #f39d1280;
    border: solid 3px #f39c12;
    width: fit-content;
}
.subject-label{
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.test-attempted{
    padding: 10px;
    border-radius: 50%;
    color: #339af0;
}

.timeline-item{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    margin: 10px 0px;
    display: flex;
}

.sub-heading{
    font-size: 12px;
    color: grey;
}

.maths{
    padding: 10px;
    color:white;
    background-image: linear-gradient(to top right, #F345A1, #F6D4E5);
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    margin: 5px;
    text-align: center;
}

.chem{
    padding: 10px;
    color:white;
    background-image: linear-gradient(to top right, #63BBF2, #99D9F2);
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    margin: 5px;
    text-align: center;
}

.bio{
    padding: 10px;
    color:white;
    background-image: linear-gradient(to top right, rgb(64,233,224), rgb(191,247,160));
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    margin: 5px;
    text-align: center;
}

.phy{
    padding: 10px;
    color:white;
    background-image: linear-gradient(to top right, rgb(172,97,238), rgb(232,177,214));
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    margin: 5px;
    text-align: center;
}